<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% if error_type == 3 %}
        <h2 style="text-align:center;margin: 100px;">
            Seems like you are at wrong page. 
            Go back to <a href="/">Main Page</a>. 
        </h2>
        {% endif %}
        {% if error_type == 2 %}
        <p style="text-align:center;margin: 100px;">
            Seems like your csv file is empty. Please upload the correct file.
            Go back to <a href="/auramovie">Main Page</a>. 
        </p>
        {% endif %}
        {% if error_type == 1 %}
        <p style="text-align:center;margin: 100px;">
            Seems like your file is not in CSV format. Please upload the correct file.
            Go back to <a href="/auramovie">Main Page</a>. 
        </p>
        {% endif %}


    </body>
</html>