<!DOCTYPE html>
<html>
    <title>Calculate time invested in movies</title>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Based on the movie runtimes, you can calculate how much time you spent watching movies which you had watched.">
        <meta name="keywords" content="Movies,IMDB,Netflix">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
            </script>
        <script>
            $(document).ready(function(){
            $('#upload').click(function(){
            if($('#csvfile')[0].files.length == 0){
            alert("Please provide input CSV file");
            $('form').attr('action',"/auramovie/");
            };
            });
        });
        </script>
    </head>

<body>
<h1 style="text-align:center;">Calculate how much Time you have invested in movies till now</h1>

<form style="text-align:center;" method="post" action="/auramovie/wait" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="csv">Select a CSV file:</label>
    {{ form.as_p }}
    <input type="submit" id="upload" value="UPLOAD">
</form>

<p>Note: You will need a csv file to upload. You can get the csv file from IMDB website</p>
<p>IMP: You will only be able to calculate time on the movies which you rated on IMDB website</p>
<p>How to get CSV file from IMDB website:</p>
<ul>
    <li>Go to <a href="https://www.imdb.com/" target="_blank" rel="noopener noreferrer">https://www.imdb.com/</a></li>
    <li>Login to your account</li>
    <li>Go to Profile->Your Ratings</li>
    <li>Click on three dots, click export and download the csv file</li>
    <li>Upload that csv file above</li>
</ul>
<p style="text-align:center;"> For feedback please email : vipulcell@gmail.com </p>
</body>
</html>