<!DOCTYPE html>
<html>
    <title>Calculate time invested in movies</title>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>
        <script>
            $(document).ready(function(){
                $("button").click(function(){
                    $("#div_content").load("wait");
                });
            });
        </script>
    </head>
<body>

    <div id="div_content">
        <div class = >GeeksforGeeks</div>
    </div>

<h1 style="text-align:center;">Calculate how much Time you have invested in movies till now</h1>

<form style="text-align:center;" method="post" action="/auramovie/movielist" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="csv">Select a CSV file:</label>
    <input type="file" id="csvfile" name="csvfile"><br><br>
    <input type="submit" value="UPLOAD">
</form>

<p>Note: You will need a csv file to upload. You can get the csv file from IMDB</p>

</body>
</html>