<!DOCTYPE html>
<html lang="en">
    <title>Calculate time invested in movies</title>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Based on the movie runtimes, you can calculate how much time you spent watching movies which you had watched.">
        <meta name="keywords" content="Movies,IMDB,Netflix">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .stats {
                border: 2px solid black;
                margin-left: auto; 
                margin-right: auto;
                background-color: rgba(98, 128, 0, 0.203);
            }
            .statsdata {
                border: 2px solid black;
            }
        </style>
    </head>
    <body style="background-color:DodgerBlue;">
        <table class="stats">
            <tr>
                <th style="text-decoration: underline;">Statistics</th>
            </tr>
            <tr>
                <td>Total Hours Invested = {{movies.totalruntime_hours}} Hours </td>
            </tr>
            <tr>
                <td>Total Days Invested = {{movies.totalruntime_days}} Days</td>
            </tr>
            <tr>
                <td>Total Number of Movies you watched = {{movies.totalmovies}} </td>
            </tr>
            <tr>
                <td>9 and above Rated Movies = {{movies.nineandabove}} </td>
            </tr>
            <tr>
                <td>8 and above Rated Movies = {{movies.eightandabove}} </td>
            </tr>
        </table>
        <br>
        <br>
        <h3 style="color:rgb(11, 115, 184);">Five Best movies you Watched so far</h3>
        <div style="overflow-y: scroll; height:230px;border: 2px;border-style: solid;">
            {% if movies_name_poster %}  
            {% for name,poster in movies_name_poster %}
            <div style="float:left;padding-right: 10px;border: 2px;border-style: solid; height:210px; width:150px" >
                <img src="{{ poster }}" style="padding-right: 0px;" width="150" height="160"><br>
                {{ name }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <p style="text-align:center;margin: 50px;">
            Go back to <a href="/auramovie" style="color: Red;">Main Page</a>. 
        </p>
    </body>
</html>